#version 400

layout(quads, fractional_odd_spacing, ccw) in;
out vec2 texcoord;
out float depth;

uniform sampler2D u_heightMap;
uniform mat4 u_pvm;
uniform float u_gridSpacing;
uniform float u_heightScale;

void main(){
    float u = gl_TessCoord.x;
    float v = gl_TessCoord.y;

    vec4 a = mix(gl_in[1].gl_Position, gl_in[0].gl_Position, u);
    vec4 b = mix(gl_in[2].gl_Position, gl_in[3].gl_Position, u);
    vec4 position = mix(a, b, v);
    texcoord = position.xy;
    float height = texture(u_heightMap, texcoord).r;
	vec2 tSize = textureSize(u_heightMap,0)*u_gridSpacing;
    gl_Position = u_pvm * vec4(texcoord*tSize, height*u_heightScale, 1.0);
    depth = gl_Position.z;
}
       
